<!DOCTYPE html>
<html>
<head>
  <a href="/"><img src="../images/Logo.png" alt="logo" height = "80"></a>
</head>
<body>
<nav>
  <ul>
    <a href="/">Homepage</a><br>
    <a href="#">New Transaction</a><br>
    <a href="#">Find by Merchant</a><br>
    <a href="#">Find by Tag</a><br>
    <a href="/transactions">All Transactions</a>
  </ul>
</nav>
<%= yield %>
</body>
</html>
