<!DOCTYPE html>
<html>
<head>
<h1>Spending Tracker</h1>
</head>
<body>
<nav>
  <ul>
    <a href="/transactions/new">New Transaction</a><br>
    <a href="/transactions">All Transactions</a><br>
    <a href="/merchants">Manage Merchants</a><br>
    <a href="/tags">Manage Tags</a><br>
    <a href="#">Find by Merchant</a><br>
    <a href="#">Find by Tag</a><br>
  </ul>
</nav>
<%= yield %>
</body>
</html>
