<!DOCTYPE html>
<html>
<head>
  <title>Title Spending Tracker</title>
</head>
<body>
  <h1>H1 Spending Tracker</h1>
<nav>
  <ul>
    <li>
      <a href="/transactions">All Transactions</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
