html {
  background-color: #709FC1;
}

body {
  background-color: #DBE3E8;
  font-family: 'Arial', sans-serif;
}

nav {
  text-align: center;
}

h1 {
  background-color: #9EB3C2;
  text-align: center;
}

p {

}

a {
  color:
}

a {


}

ul {
  padding: 20px;
}
