html {
  background-color: #9EB3C2;
}

body {
  background-color: #DBE3E8;
  font-family: 'Arial', sans-serif;
}

nav {
  text-align: center;
}

h1 {
  background-color: #1C7293;
  text-align: center;
}

p {

}

a {
  color: #065A82;
}

a:hover{
  color: #1B3B6F;
}

ul {
  padding: 20px;
}
