<h1>views/index.erb</h1>
<h1>All Transactions</h1>
<ul>

  <% for transaction in @transactions %>
      <p>Merchant: <%= transaction.merchant.name %></p>
      <p>Amount: <%= transaction.amount %></p>
      <p>Tags: <%= transaction.tag.type %></p><br>
  <% end %>

</ul>
