<form action="/transactions" method="post">

  <label for="amount">Amount: </label>
  <input type="number" name="amount" id="amount">

  <label>
    Select merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.type %></option>
      <% end %>
    </select>
  </label>

  <input type="submit" value="Add Transaction">

</form>
